@media screen and (min-width: 642px){
    .main-nav ul {
        position: static;
        width: auto;
        background: transparent;
        margin: 0;
        padding: 31px 0 0 0;
        display: block !important;
    }

    .main-nav li {
        display: inline-block;
        margin: 0 25px 0 0;
    }

    .main-nav a {
        color: #000;
        font-size: 16px;
        display: inline-block;
        padding: 8px 10px;
        border: none;
        text-transform: uppercase;
        text-decoration: none;
    }
}

@media screen and (max-width: 800px) {
    .main-nav a {
        font-size: 14px;
        padding: 8px 0;
    }
}

@media screen and (max-width: 642px) {
    .logo img{
        width: 100px;
        height: 66px;
    }

    .main-nav {
        width: 100%;
        text-align: center;
    }

    .main-nav a {
        font-size: 14px;
    }
}

@media screen and (max-width: 550px) {
    .header-upside {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }
    .header-upside-inner {
        width: 100%;
    }

    .header-upside-inner:nth-child(2) {
        order: -1;
    }

    .header-upside-inner:nth-child(1) {
        order: 1;
    }

    .header-upside-inner.search,
    .header-upside-inner.icons {
        width: 50%;
    }

    .fa-search, .social-btns {
        margin: 6px 20px;
    }
}