body {
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    color: #153f60;
    line-height: 1.3;
    font-size: 14px;
    min-width: 320px;
    margin: 0;
}

.clearfix {
    display: flex;
    flex-direction: column;
}

.header-upside {
    display: flex;
}

.header-upside-inner {
    width: 33.3%;
    display: flex;
    align-items: center;
}

.header-upside-inner.logo-img {
    justify-content: center;
}

.logo img {
    padding: 14px 0 0
}

.header-upside-inner.icons {
    justify-content: flex-end;
}

.fa-search,
.social-btns {
    font-size: 18px;
    margin: 6px 35px;
}

.far.fa-user,
.fas.fa-shopping-cart {
    margin: 0 4px;
}

.fas.fa-shopping-cart {
    position: relative;
}

.cart-orders-amount {
    font-size: 10px;
    width: 10px;
    height: 10px;
    position: absolute;
    top: -4px;
    right: -3px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 50%;
    background: #000;
    color: #fff;
}

.far.fa-user {
    border: 1px solid #000;
    border-radius: 50%;
    padding: 4px;
}

.search-txt {
    text-transform: uppercase;
    padding-left: 10px;
    font-weight: 400;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}


.btn-nav {
    height: 28px;
    width: 35px;
    background: transparent;
    float: right;
    border: none;
    position: relative;
}

.btn-nav i {
    width: 18px;
    height: 2px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1px -10px;
}

.btn-nav i::before,
.btn-nav i::after {
    content:"";
    width: 18px;
    height: 2px;
    background: #000;
    position: absolute;
    top: 0;
    right: 0;
}

.btn-nav i::before {
    top: -6px;
}

.btn-nav i::after {
    top: 6px;
    width: 12px;
}

.header-bottom {
    display: flex;
    justify-content: center;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

.main-nav a:hover {
    color: #cfeadf;
    text-decoration: underline;
}

.btn-nav.is-active i{
    background: transparent;
}
.btn-nav.is-active i::before{
    transform: rotate(45deg);
    top: 0;
}
.btn-nav.is-active i::after{
    transform: rotate(-45deg);
    top: 0;
    width: 18px;
}

.main-nav {
    position: relative;
}

.main-nav ul {
    position: absolute;
    top: 0;
    right: 5%;
    width: 35%;
    list-style: none;
    background: #ade1c5;
    margin: 0;
    padding: 0;
    display: none;
}


.main-nav li {
    margin: 0;
    padding: 0;
}

.main-nav a {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 8px 10px;
    border-bottom: 1px solid rgba(255,255,255,0.7);
    font-family: 'Raleway', sans-serif;
}

.main-nav li:last-child a {
    border: none;
}